In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Mofid

/content/drive/MyDrive/Mofid

In [ ]:
!unzip train-2.zip

Archive:  train-2.zip
   creating: train/
  inflating: train/train.csv
  inflating: train/test.csv

In [ ]:
%cd train-2

/content/drive/My Drive/Mofid/train-2

In [ ]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/20/37/bc4e0ddc30c07a96482abf1de7ed1ca54e59bba2026a33bca6d2ef286e5b/catboost-0.24.4-cp36-none-manylinux1_x86_64.whl (65.7MB)
     |████████████████████████████████| 65.8MB 45kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.19.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.24.4

In [ ]:
from catboost import Pool, CatBoostClassifier
from sklearn.model_selection import train_test_split
import pandas as pd

In [ ]:
df_train = pd.read_csv('train.csv')
df_train.head()

   bin_0  bin_1  bin_2 bin_3 bin_4  nom_0  ... ord_3 ord_4 ord_5  day month target
0    0.0    1.0    0.0     F     N   Blue  ...     e     N    oh  3.0   5.0      0
1    1.0    1.0    0.0     F     Y   Blue  ...     f     N    Kq  3.0   8.0      0
2    0.0    0.0    0.0     F     N    Red  ...     i     D    Fl  3.0   3.0      0
3    0.0    0.0    0.0     T     N  Green  ...     n     Z    In  7.0   7.0      0
4    0.0    0.0    0.0     F     N   Blue  ...     i     X    Sk  5.0   2.0      1

[5 rows x 24 columns]

In [ ]:
df_train.drop(['nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9'], inplace = True, axis = 1) 
df_train.head()

   bin_0  bin_1  bin_2 bin_3 bin_4  nom_0  ... ord_3 ord_4 ord_5  day  month target
0    0.0    1.0    0.0     F     N   Blue  ...     e     N    oh  3.0    5.0      0
1    1.0    1.0    0.0     F     Y   Blue  ...     f     N    Kq  3.0    8.0      0
2    0.0    0.0    0.0     F     N    Red  ...     i     D    Fl  3.0    3.0      0
3    0.0    0.0    0.0     T     N  Green  ...     n     Z    In  7.0    7.0      0
4    0.0    0.0    0.0     F     N   Blue  ...     i     X    Sk  5.0    2.0      1

[5 rows x 19 columns]

In [ ]:
df_train.shape

(480000, 19)

In [ ]:
df_train.isna().sum()

bin_0     14327
bin_1     14383
bin_2     14383
bin_3     14554
bin_4     14449
nom_0     14633
nom_1     14531
nom_2     14441
nom_3     14424
nom_4     14373
ord_0     14707
ord_1     14402
ord_2     14448
ord_3     14263
ord_4     14443
ord_5     14195
day       14310
month     14428
target        0
dtype: int64

In [ ]:
df_train.dtypes

bin_0     float64
bin_1     float64
bin_2     float64
bin_3      object
bin_4      object
nom_0      object
nom_1      object
nom_2      object
nom_3      object
nom_4      object
ord_0     float64
ord_1      object
ord_2      object
ord_3      object
ord_4      object
ord_5      object
day       float64
month     float64
target      int64
dtype: object

In [ ]:
for column in df_train.columns:
    df_train[column].fillna(df_train[column].mode()[0], inplace=True)

In [ ]:
df_train.isna().sum()

bin_0     0
bin_1     0
bin_2     0
bin_3     0
bin_4     0
nom_0     0
nom_1     0
nom_2     0
nom_3     0
nom_4     0
ord_0     0
ord_1     0
ord_2     0
ord_3     0
ord_4     0
ord_5     0
day       0
month     0
target    0
dtype: int64

***
Validation

In [ ]:
X = df_train.loc[:, df_train.columns != 'target']
y = df_train['target']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y,
                                                    stratify=y, 
                                                    test_size=0.3)

***
Modeling

In [ ]:
cat_features = df_train[['bin_3', 'bin_4', 'nom_0', 'nom_1', 'nom_2', 'nom_3', 
                         'nom_4', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5']]

In [ ]:
train_dataset = Pool(data=X_train,
                     label=y_train,
                     cat_features=cat_features)

In [ ]:
eval_dataset = Pool(data=X_test,
                    label=y_test,
                    cat_features=cat_features)

In [ ]:
model = CatBoostClassifier(
    iterations=500, 
    #task_type="GPU",
    #devices='0:1',
    early_stopping_rounds = 5,
    custom_metric=['AUC'])

In [ ]:
model.fit(train_dataset,
          eval_set=eval_dataset)

Learning rate set to 0.180245
0:	learn: 0.6170795	test: 0.6170152	best: 0.6170152 (0)	total: 355ms	remaining: 2m 57s
1:	learn: 0.5552384	test: 0.5548388	best: 0.5548388 (1)	total: 1.1s	remaining: 4m 34s
2:	learn: 0.5166028	test: 0.5165161	best: 0.5165161 (2)	total: 1.64s	remaining: 4m 31s
3:	learn: 0.4892186	test: 0.4892427	best: 0.4892427 (3)	total: 2.34s	remaining: 4m 49s
4:	learn: 0.4712964	test: 0.4710634	best: 0.4710634 (4)	total: 3.07s	remaining: 5m 4s
5:	learn: 0.4599965	test: 0.4596160	best: 0.4596160 (5)	total: 3.74s	remaining: 5m 7s
6:	learn: 0.4519152	test: 0.4514952	best: 0.4514952 (6)	total: 4.55s	remaining: 5m 20s
7:	learn: 0.4462190	test: 0.4457019	best: 0.4457019 (7)	total: 5.25s	remaining: 5m 23s
8:	learn: 0.4421118	test: 0.4416323	best: 0.4416323 (8)	total: 6.01s	remaining: 5m 28s
9:	learn: 0.4388522	test: 0.4382716	best: 0.4382716 (9)	total: 6.8s	remaining: 5m 33s
10:	learn: 0.4365832	test: 0.4359103	best: 0.4359103 (10)	total: 7.43s	remaining: 5m 30s
11:	learn: 0.4346468	test: 0.4338963	best: 0.4338963 (11)	total: 8.18s	remaining: 5m 32s
12:	learn: 0.4329655	test: 0.4321556	best: 0.4321556 (12)	total: 9.01s	remaining: 5m 37s
13:	learn: 0.4315007	test: 0.4305798	best: 0.4305798 (13)	total: 9.87s	remaining: 5m 42s
14:	learn: 0.4303921	test: 0.4294918	best: 0.4294918 (14)	total: 10.6s	remaining: 5m 42s
15:	learn: 0.4294071	test: 0.4284263	best: 0.4284263 (15)	total: 11.3s	remaining: 5m 40s
16:	learn: 0.4283619	test: 0.4273413	best: 0.4273413 (16)	total: 11.9s	remaining: 5m 38s
17:	learn: 0.4275645	test: 0.4264878	best: 0.4264878 (17)	total: 12.8s	remaining: 5m 42s
18:	learn: 0.4269474	test: 0.4258826	best: 0.4258826 (18)	total: 13.7s	remaining: 5m 45s
19:	learn: 0.4264021	test: 0.4252930	best: 0.4252930 (19)	total: 14.4s	remaining: 5m 46s
20:	learn: 0.4257851	test: 0.4246970	best: 0.4246970 (20)	total: 15.2s	remaining: 5m 46s
21:	learn: 0.4252267	test: 0.4241174	best: 0.4241174 (21)	total: 15.9s	remaining: 5m 46s
22:	learn: 0.4246862	test: 0.4235447	best: 0.4235447 (22)	total: 16.7s	remaining: 5m 46s
23:	learn: 0.4242937	test: 0.4232182	best: 0.4232182 (23)	total: 17.5s	remaining: 5m 46s
24:	learn: 0.4239091	test: 0.4228035	best: 0.4228035 (24)	total: 18.3s	remaining: 5m 47s
25:	learn: 0.4235273	test: 0.4224354	best: 0.4224354 (25)	total: 19.1s	remaining: 5m 48s
26:	learn: 0.4231747	test: 0.4220889	best: 0.4220889 (26)	total: 19.9s	remaining: 5m 49s
27:	learn: 0.4228949	test: 0.4217902	best: 0.4217902 (27)	total: 20.6s	remaining: 5m 47s
28:	learn: 0.4224918	test: 0.4213697	best: 0.4213697 (28)	total: 21.4s	remaining: 5m 47s
29:	learn: 0.4222430	test: 0.4211206	best: 0.4211206 (29)	total: 22.2s	remaining: 5m 47s
30:	learn: 0.4220292	test: 0.4209094	best: 0.4209094 (30)	total: 23s	remaining: 5m 48s
31:	learn: 0.4217970	test: 0.4207128	best: 0.4207128 (31)	total: 23.7s	remaining: 5m 46s
32:	learn: 0.4215824	test: 0.4205268	best: 0.4205268 (32)	total: 24.5s	remaining: 5m 46s
33:	learn: 0.4213443	test: 0.4203501	best: 0.4203501 (33)	total: 25.2s	remaining: 5m 44s
34:	learn: 0.4211295	test: 0.4201604	best: 0.4201604 (34)	total: 26s	remaining: 5m 45s
35:	learn: 0.4209528	test: 0.4200202	best: 0.4200202 (35)	total: 26.7s	remaining: 5m 44s
36:	learn: 0.4207554	test: 0.4198396	best: 0.4198396 (36)	total: 27.5s	remaining: 5m 44s
37:	learn: 0.4205827	test: 0.4196847	best: 0.4196847 (37)	total: 28.3s	remaining: 5m 44s
38:	learn: 0.4204610	test: 0.4195843	best: 0.4195843 (38)	total: 29s	remaining: 5m 43s
39:	learn: 0.4202834	test: 0.4193925	best: 0.4193925 (39)	total: 29.8s	remaining: 5m 42s
40:	learn: 0.4201200	test: 0.4192657	best: 0.4192657 (40)	total: 30.5s	remaining: 5m 41s
41:	learn: 0.4199796	test: 0.4191240	best: 0.4191240 (41)	total: 31.3s	remaining: 5m 41s
42:	learn: 0.4198700	test: 0.4190224	best: 0.4190224 (42)	total: 32s	remaining: 5m 40s
43:	learn: 0.4197247	test: 0.4189037	best: 0.4189037 (43)	total: 32.7s	remaining: 5m 38s
44:	learn: 0.4196380	test: 0.4188221	best: 0.4188221 (44)	total: 33.4s	remaining: 5m 38s
45:	learn: 0.4195162	test: 0.4187243	best: 0.4187243 (45)	total: 34.2s	remaining: 5m 37s
46:	learn: 0.4194083	test: 0.4186285	best: 0.4186285 (46)	total: 35s	remaining: 5m 37s
47:	learn: 0.4192749	test: 0.4185265	best: 0.4185265 (47)	total: 35.9s	remaining: 5m 37s
48:	learn: 0.4191652	test: 0.4184531	best: 0.4184531 (48)	total: 36.7s	remaining: 5m 37s
49:	learn: 0.4190673	test: 0.4183892	best: 0.4183892 (49)	total: 37.4s	remaining: 5m 36s
50:	learn: 0.4190065	test: 0.4183333	best: 0.4183333 (50)	total: 38.1s	remaining: 5m 35s
51:	learn: 0.4189742	test: 0.4183050	best: 0.4183050 (51)	total: 38.5s	remaining: 5m 32s
52:	learn: 0.4189097	test: 0.4182432	best: 0.4182432 (52)	total: 39.4s	remaining: 5m 32s
53:	learn: 0.4188160	test: 0.4181682	best: 0.4181682 (53)	total: 40.2s	remaining: 5m 31s
54:	learn: 0.4187337	test: 0.4181198	best: 0.4181198 (54)	total: 40.9s	remaining: 5m 31s
55:	learn: 0.4186666	test: 0.4180611	best: 0.4180611 (55)	total: 41.7s	remaining: 5m 30s
56:	learn: 0.4186012	test: 0.4180222	best: 0.4180222 (56)	total: 42.4s	remaining: 5m 29s
57:	learn: 0.4185494	test: 0.4179755	best: 0.4179755 (57)	total: 43.2s	remaining: 5m 29s
58:	learn: 0.4184835	test: 0.4179048	best: 0.4179048 (58)	total: 44.1s	remaining: 5m 29s
59:	learn: 0.4184195	test: 0.4178784	best: 0.4178784 (59)	total: 44.8s	remaining: 5m 28s
60:	learn: 0.4183674	test: 0.4178511	best: 0.4178511 (60)	total: 45.6s	remaining: 5m 27s
61:	learn: 0.4183040	test: 0.4178206	best: 0.4178206 (61)	total: 46.2s	remaining: 5m 26s
62:	learn: 0.4182596	test: 0.4177913	best: 0.4177913 (62)	total: 47s	remaining: 5m 26s
63:	learn: 0.4182008	test: 0.4177400	best: 0.4177400 (63)	total: 47.8s	remaining: 5m 25s
64:	learn: 0.4181344	test: 0.4176866	best: 0.4176866 (64)	total: 48.4s	remaining: 5m 24s
65:	learn: 0.4180337	test: 0.4176387	best: 0.4176387 (65)	total: 49s	remaining: 5m 21s
66:	learn: 0.4179731	test: 0.4176012	best: 0.4176012 (66)	total: 49.7s	remaining: 5m 21s
67:	learn: 0.4178878	test: 0.4175150	best: 0.4175150 (67)	total: 50.6s	remaining: 5m 21s
68:	learn: 0.4178112	test: 0.4174827	best: 0.4174827 (68)	total: 51.6s	remaining: 5m 22s
69:	learn: 0.4177368	test: 0.4174133	best: 0.4174133 (69)	total: 52.2s	remaining: 5m 20s
70:	learn: 0.4176787	test: 0.4173728	best: 0.4173728 (70)	total: 53s	remaining: 5m 20s
71:	learn: 0.4176309	test: 0.4173530	best: 0.4173530 (71)	total: 53.8s	remaining: 5m 20s
72:	learn: 0.4175671	test: 0.4173091	best: 0.4173091 (72)	total: 54.6s	remaining: 5m 19s
73:	learn: 0.4175114	test: 0.4172850	best: 0.4172850 (73)	total: 55.4s	remaining: 5m 18s
74:	learn: 0.4174777	test: 0.4172543	best: 0.4172543 (74)	total: 56.1s	remaining: 5m 17s
75:	learn: 0.4174310	test: 0.4172484	best: 0.4172484 (75)	total: 56.9s	remaining: 5m 17s
76:	learn: 0.4173844	test: 0.4172452	best: 0.4172452 (76)	total: 57.7s	remaining: 5m 16s
77:	learn: 0.4173368	test: 0.4172107	best: 0.4172107 (77)	total: 58.3s	remaining: 5m 15s
78:	learn: 0.4172460	test: 0.4171466	best: 0.4171466 (78)	total: 58.9s	remaining: 5m 13s
79:	learn: 0.4172029	test: 0.4171170	best: 0.4171170 (79)	total: 59.5s	remaining: 5m 12s
80:	learn: 0.4171337	test: 0.4170672	best: 0.4170672 (80)	total: 1m	remaining: 5m 12s
81:	learn: 0.4170618	test: 0.4170263	best: 0.4170263 (81)	total: 1m 1s	remaining: 5m 10s
82:	learn: 0.4170393	test: 0.4170162	best: 0.4170162 (82)	total: 1m 1s	remaining: 5m 9s
83:	learn: 0.4170186	test: 0.4170074	best: 0.4170074 (83)	total: 1m 2s	remaining: 5m 9s
84:	learn: 0.4169623	test: 0.4169883	best: 0.4169883 (84)	total: 1m 3s	remaining: 5m 8s
85:	learn: 0.4169444	test: 0.4169699	best: 0.4169699 (85)	total: 1m 3s	remaining: 5m 7s
86:	learn: 0.4168965	test: 0.4169342	best: 0.4169342 (86)	total: 1m 4s	remaining: 5m 6s
87:	learn: 0.4168462	test: 0.4168987	best: 0.4168987 (87)	total: 1m 5s	remaining: 5m 5s
88:	learn: 0.4168145	test: 0.4168987	best: 0.4168987 (88)	total: 1m 6s	remaining: 5m 5s
89:	learn: 0.4167997	test: 0.4168971	best: 0.4168971 (89)	total: 1m 6s	remaining: 5m 3s
90:	learn: 0.4167337	test: 0.4168612	best: 0.4168612 (90)	total: 1m 7s	remaining: 5m 2s
91:	learn: 0.4166845	test: 0.4168606	best: 0.4168606 (91)	total: 1m 8s	remaining: 5m 2s
92:	learn: 0.4166315	test: 0.4168421	best: 0.4168421 (92)	total: 1m 8s	remaining: 5m
93:	learn: 0.4166019	test: 0.4168273	best: 0.4168273 (93)	total: 1m 9s	remaining: 5m
94:	learn: 0.4165761	test: 0.4168237	best: 0.4168237 (94)	total: 1m 10s	remaining: 4m 59s
95:	learn: 0.4165330	test: 0.4167864	best: 0.4167864 (95)	total: 1m 11s	remaining: 4m 58s
96:	learn: 0.4164978	test: 0.4167518	best: 0.4167518 (96)	total: 1m 11s	remaining: 4m 58s
97:	learn: 0.4164627	test: 0.4167209	best: 0.4167209 (97)	total: 1m 12s	remaining: 4m 57s
98:	learn: 0.4164328	test: 0.4167007	best: 0.4167007 (98)	total: 1m 13s	remaining: 4m 56s
99:	learn: 0.4164213	test: 0.4166964	best: 0.4166964 (99)	total: 1m 13s	remaining: 4m 55s
100:	learn: 0.4163813	test: 0.4166774	best: 0.4166774 (100)	total: 1m 14s	remaining: 4m 53s
101:	learn: 0.4163528	test: 0.4166625	best: 0.4166625 (101)	total: 1m 15s	remaining: 4m 53s
102:	learn: 0.4163162	test: 0.4166431	best: 0.4166431 (102)	total: 1m 15s	remaining: 4m 52s
103:	learn: 0.4162837	test: 0.4166272	best: 0.4166272 (103)	total: 1m 16s	remaining: 4m 51s
104:	learn: 0.4162580	test: 0.4166020	best: 0.4166020 (104)	total: 1m 17s	remaining: 4m 50s
105:	learn: 0.4162452	test: 0.4165983	best: 0.4165983 (105)	total: 1m 17s	remaining: 4m 49s
106:	learn: 0.4162132	test: 0.4165861	best: 0.4165861 (106)	total: 1m 18s	remaining: 4m 48s
107:	learn: 0.4161788	test: 0.4165934	best: 0.4165861 (106)	total: 1m 19s	remaining: 4m 47s
108:	learn: 0.4161515	test: 0.4165814	best: 0.4165814 (108)	total: 1m 20s	remaining: 4m 47s
109:	learn: 0.4161316	test: 0.4165738	best: 0.4165738 (109)	total: 1m 20s	remaining: 4m 46s
110:	learn: 0.4160927	test: 0.4165687	best: 0.4165687 (110)	total: 1m 21s	remaining: 4m 45s
111:	learn: 0.4160604	test: 0.4165674	best: 0.4165674 (111)	total: 1m 22s	remaining: 4m 45s
112:	learn: 0.4160403	test: 0.4165605	best: 0.4165605 (112)	total: 1m 22s	remaining: 4m 44s
113:	learn: 0.4159981	test: 0.4165447	best: 0.4165447 (113)	total: 1m 23s	remaining: 4m 42s
114:	learn: 0.4159692	test: 0.4165362	best: 0.4165362 (114)	total: 1m 24s	remaining: 4m 41s
115:	learn: 0.4159560	test: 0.4165458	best: 0.4165362 (114)	total: 1m 24s	remaining: 4m 40s
116:	learn: 0.4159382	test: 0.4165431	best: 0.4165362 (114)	total: 1m 25s	remaining: 4m 38s
117:	learn: 0.4159014	test: 0.4165439	best: 0.4165362 (114)	total: 1m 26s	remaining: 4m 38s
118:	learn: 0.4158789	test: 0.4165406	best: 0.4165362 (114)	total: 1m 26s	remaining: 4m 37s
119:	learn: 0.4158525	test: 0.4165286	best: 0.4165286 (119)	total: 1m 27s	remaining: 4m 36s
120:	learn: 0.4158408	test: 0.4165242	best: 0.4165242 (120)	total: 1m 28s	remaining: 4m 35s
121:	learn: 0.4158188	test: 0.4165107	best: 0.4165107 (121)	total: 1m 28s	remaining: 4m 35s
122:	learn: 0.4157946	test: 0.4164977	best: 0.4164977 (122)	total: 1m 29s	remaining: 4m 34s
123:	learn: 0.4157546	test: 0.4165036	best: 0.4164977 (122)	total: 1m 30s	remaining: 4m 33s
124:	learn: 0.4157438	test: 0.4165000	best: 0.4164977 (122)	total: 1m 30s	remaining: 4m 32s
125:	learn: 0.4156990	test: 0.4164832	best: 0.4164832 (125)	total: 1m 31s	remaining: 4m 31s
126:	learn: 0.4156786	test: 0.4164780	best: 0.4164780 (126)	total: 1m 32s	remaining: 4m 30s
127:	learn: 0.4156701	test: 0.4164750	best: 0.4164750 (127)	total: 1m 32s	remaining: 4m 30s
128:	learn: 0.4156410	test: 0.4164580	best: 0.4164580 (128)	total: 1m 33s	remaining: 4m 29s
129:	learn: 0.4156238	test: 0.4164543	best: 0.4164543 (129)	total: 1m 34s	remaining: 4m 28s
130:	learn: 0.4155928	test: 0.4164520	best: 0.4164520 (130)	total: 1m 35s	remaining: 4m 28s
131:	learn: 0.4155794	test: 0.4164512	best: 0.4164512 (131)	total: 1m 35s	remaining: 4m 27s
132:	learn: 0.4155600	test: 0.4164471	best: 0.4164471 (132)	total: 1m 36s	remaining: 4m 26s
133:	learn: 0.4155438	test: 0.4164408	best: 0.4164408 (133)	total: 1m 37s	remaining: 4m 25s
134:	learn: 0.4155342	test: 0.4164422	best: 0.4164408 (133)	total: 1m 38s	remaining: 4m 25s
135:	learn: 0.4155029	test: 0.4164423	best: 0.4164408 (133)	total: 1m 38s	remaining: 4m 24s
136:	learn: 0.4154818	test: 0.4164447	best: 0.4164408 (133)	total: 1m 39s	remaining: 4m 23s
137:	learn: 0.4154541	test: 0.4164464	best: 0.4164408 (133)	total: 1m 40s	remaining: 4m 22s
138:	learn: 0.4154440	test: 0.4164483	best: 0.4164408 (133)	total: 1m 40s	remaining: 4m 21s
Stopped by overfitting detector  (5 iterations wait)

bestTest = 0.4164407774
bestIteration = 133

Shrink model to first 134 iterations.

***
Test

In [ ]:
df_test = pd.read_csv('test.csv')
df_test.head()

   bin_0  bin_1  bin_2 bin_3 bin_4  ... ord_3 ord_4 ord_5  day month
0    1.0    1.0    0.0     F     N  ...     a     Y    MV  7.0   5.0
1    0.0    0.0    0.0     F     Y  ...     c     H    GZ  4.0   3.0
2    1.0    0.0    0.0     F     N  ...     f     F    gc  NaN   6.0
3    0.0    0.0    NaN     F     N  ...     f     Y   NaN  6.0   1.0
4    0.0    0.0    0.0     T     N  ...     c     K    Hk  1.0   5.0

[5 rows x 23 columns]

In [ ]:
df_test.drop(['nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9'], inplace = True, axis = 1)

In [ ]:
df_test.isna().sum()

bin_0    3567
bin_1    3620
bin_2    3547
bin_3    3460
bin_4    3598
nom_0    3619
nom_1    3625
nom_2    3594
nom_3    3697
nom_4    3662
ord_0    3581
ord_1    3639
ord_2    3627
ord_3    3653
ord_4    3487
ord_5    3518
day      3642
month    3560
dtype: int64

In [ ]:
for column in df_test.columns:
    df_test[column].fillna(df_test[column].mode()[0], inplace=True)

In [ ]:
df_test.isna().sum()

bin_0    0
bin_1    0
bin_2    0
bin_3    0
bin_4    0
nom_0    0
nom_1    0
nom_2    0
nom_3    0
nom_4    0
ord_0    0
ord_1    0
ord_2    0
ord_3    0
ord_4    0
ord_5    0
day      0
month    0
dtype: int64

In [ ]:
test_dataset = Pool(data=df_test,
                    cat_features=cat_features)

In [ ]:
preds_class = model.predict_proba(test_dataset)
preds_class

array([[0.95825592, 0.04174408],
       [0.98531333, 0.01468667],
       [0.92350955, 0.07649045],
       ...,
       [0.81570859, 0.18429141],
       [0.86085624, 0.13914376],
       [0.97649872, 0.02350128]])

In [ ]:
out = pd.DataFrame(preds_class)
out

               0         1
0       0.958256  0.041744
1       0.985313  0.014687
2       0.923510  0.076490
3       0.848226  0.151774
4       0.840345  0.159655
...          ...       ...
119995  0.368848  0.631152
119996  0.429761  0.570239
119997  0.815709  0.184291
119998  0.860856  0.139144
119999  0.976499  0.023501

[120000 rows x 2 columns]

In [ ]:
out[1].to_csv('submission.csv', index=False, header=['target'])