In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:
df.head()

           0          1          2  ...          8          9         10
0   4.613070  19.219966  13.777694  ...   1.286421  18.607406  57.462136
1  10.851315  10.416559  10.294882  ...  17.540606   0.664260  52.820606
2  14.193912  19.516232   8.193591  ...   1.233343   9.441342  67.046251
3  16.422105   9.990100   5.491504  ...   9.126567   6.920051  55.419282
4  13.732369   4.311718   8.025760  ...   7.636695  11.098141  43.273511

[5 rows x 11 columns]

In [ ]:
X = df.iloc[:,0:10]
X.head()

           0          1          2  ...          7          8          9
0   4.613070  19.219966  13.777694  ...   6.242864   1.286421  18.607406
1  10.851315  10.416559  10.294882  ...  11.639155  17.540606   0.664260
2  14.193912  19.516232   8.193591  ...  14.092048   1.233343   9.441342
3  16.422105   9.990100   5.491504  ...   8.534165   9.126567   6.920051
4  13.732369   4.311718   8.025760  ...  10.456614   7.636695  11.098141

[5 rows x 10 columns]

In [ ]:
Y = df.iloc[:,10]
Y.head()

0    57.462136
1    52.820606
2    67.046251
3    55.419282
4    43.273511
Name: 10, dtype: float64

In [ ]:
Xt = X.transpose()
A = np.dot(Xt,X)
AA = np.linalg.inv(A)
W = np.dot(np.dot(AA ,Xt),Y)

In [ ]:
W

array([0.86359333, 0.36338597, 0.69290925, 0.95008663, 0.36233296,
       0.94475394, 0.30608218, 0.58471519, 0.05933763, 0.51713321])