In [ ]:
!pip install fasttext

Requirement already satisfied: fasttext in /usr/local/lib/python3.6/dist-packages (0.9.2)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from fasttext) (50.3.2)
Requirement already satisfied: pybind11>=2.2 in /usr/local/lib/python3.6/dist-packages (from fasttext) (2.6.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from fasttext) (1.18.5)

In [ ]:
import fasttext
import re
from nltk.corpus import stopwords
import numpy as np, pandas as pd
from gensim.utils import simple_preprocess

In [ ]:
!pip install nltk
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.15.0)
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

***
Train Set

In [ ]:
df_train = pd.read_csv('train.csv')
df_train.head(2)

         Date  ...                         Top25
0  2000-01-03  ...            Recovering a title
1  2000-01-04  ...  Millennium bug fails to bite

[2 rows x 27 columns]

In [ ]:
df_train['Label'] = df_train['Label'].apply(str)

In [ ]:
df_train['tops'] = df_train[df_train.columns[2:]].apply(
    lambda x: ' '.join(x.dropna().astype(str)),
    axis=1
)
df_train = df_train[['tops', 'Label']].rename(columns = {'tops': 'questions', 'Label': 'category'})
df_train.head()

                                           questions category
0  A 'hindrance to operations': extracts from the...        0
1  Scorecard The best lake scene Leader: German s...        0
2  Coventry caught on counter by Flo United's riv...        0
3  Pilgrim knows how to progress Thatcher facing ...        1
4  Hitches and Horlocks Beckham off but United su...        1

In [ ]:
# NLP Preprocess
df_train.iloc[:, 0] = df_train.iloc[:, 0].apply(lambda x: ' '.join(simple_preprocess(x)))
df_train.iloc[:, 0] = df_train.iloc[:, 0].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
df_train.head()

                                           questions category
0  hindrance operations extracts leaked reports s...        0
1  scorecard best lake scene leader german sleaze...        0
2  coventry caught counter flo united rivals road...        0
3  pilgrim knows progress thatcher facing ban mci...        1
4  hitches horlocks beckham united survive breast...        1

In [ ]:
# Prefixing each row of the category column with '__label__'
df_train.iloc[:, 1] = df_train.iloc[:, 1].apply(lambda x: '__label__' + x)
df_train.head()

                                           questions    category
0  hindrance operations extracts leaked reports s...  __label__0
1  scorecard best lake scene leader german sleaze...  __label__0
2  coventry caught counter flo united rivals road...  __label__0
3  pilgrim knows progress thatcher facing ban mci...  __label__1
4  hitches horlocks beckham united survive breast...  __label__1

In [ ]:
df_train[['category', 'questions']].to_csv('train.txt', 
                                          index = False, 
                                          sep = ' ',
                                          header = None, 
                                          escapechar = " ")

*** 
Test Set

In [ ]:
df_test = pd.read_csv('test.csv')
df_test.head(2)

         Date  ...                                              Top25
0  2015-01-02  ...  Authorities Pull Plug on Russia's Last Politic...
1  2015-01-05  ...                      China scraps rare earths caps

[2 rows x 26 columns]

In [ ]:
df_test['questions'] = df_test[df_test.columns[1:]].apply(
    lambda x: ' '.join(x.dropna().astype(str)),
    axis=1
)
df_test = df_test[['questions']]
df_test.head()

                                           questions
0  Most cases of cancer are the result of sheer b...
1  Moscow-&gt;Beijing high speed train will reduc...
2  US oil falls below $50 a barrel Toyota gives a...
3  'Shots fired' at French magazine HQ 90% of Bib...
4  New Charlie Hebdo issue to come out next week:...

In [ ]:
df_test.iloc[:, 0] = df_test.iloc[:, 0].apply(lambda x: ' '.join(simple_preprocess(x)))
df_test.iloc[:, 0] = df_test.iloc[:, 0].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
df_test.head()

                                           questions
0  cases cancer result sheer bad luck rather unhe...
1  moscow gt beijing high speed train reduce trip...
2  us oil falls barrel toyota gives away fuel cel...
3  shots fired french magazine hq bibi netanyahus...
4  new charlie hebdo issue come next week hard su...

***
Model

In [ ]:
# Training the fastText classifier
model = fasttext.train_supervised('train.txt')

In [ ]:
# Predicting 
preds = []
for i in range(0,len(df_test)):
  pred = model.predict(df_test.iloc[i,0])
  preds.append(pred[0][0][9])

In [ ]:
out = pd.DataFrame(preds)
out.to_csv('output.csv', index=False)